{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
 <h1>Compte</h1>
 <ul>
   <li> <a href="{{path('app_account_update_password')}}"> Modification mot de passe </a> </li>
   <li> <a href="{{path('app_account_address')}}"> Gestion des address</a> </li>
 </ul>
{% endblock %}
